@font-face {
  font-family: "PressStart2P-Regular";
  src: url("./fonts/PressStart2P-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

.wrapper{
  width: 1400px;
  margin: 0% auto;
  padding: 5%;
}

.header{
  text-align: center;
  background-color: black;
  font-family: PressStart2P-Regular;
  font-size: 50px;
  color: white;
}

.intro_block{
  text-align: center;
  background-image: url("intro_image.jpg");
  font-family: PressStart2P-Regular;
  font-size: 25px;
  color: white;
  margin-top: 2%;
  height: auto;
  width: auto;
  padding: 15%;
}

.intro_line{
  background-color: rgba(0,0,0,50%);
  padding: 5%;
}

.features{
  margin-top: 2%;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
  padding-right: 5%;
  background-color: white;
  width: auto;
  height: 530px;
  text-align: center;
}

.column{
  color: black;
  width: 33%;
  font-family: PressStart2P-Regular;
  font-size: 25px;
  height: 100%;
  float:left;
  margin: auto;
  text-align: center;
  background-color: white;
}

.column_text{
  color: black;
  font-family: PressStart2P-Regular;
  font-size: 20px;
  float:left;
  margin-top: 2%;
  text-align: center;
}

.box_about{
  margin-top: 2%;
  padding: 1%;
  background-color: white;
  width: auto;
  height: 370px;
  text-align: center;
}

.video{
  width:50%
}
.box_text{
  color: black;
  width: 45%;
  font-family: PressStart2P-Regular;
  font-size: 25px;
  height: 100%;
  float:left;
  margin-left: 50%;
  margin-top: -26%;
  text-align: center;
  background-color: white;
}

.comrades{
  margin-top: 2%;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 3%;
  padding-right: 5%;
  background-color: white;
  width: auto;
  height: 300px;
  text-align: center;
}

.partners{
  color: red;
  width: 50%;
  font-family: PressStart2P-Regular;
  font-size: 25px;
  height: 100%;
  float:left;
  margin: auto;
  text-align: center;
  background-color: white;
}

.contacts{
  margin-top: 5%;
  width: 100%;
  height: auto;
  font-family: PressStart2P-Regular;
  font-size: 25px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 7%;
}

.ways {
  color: red;
  font-family: PressStart2P-Regular;
  font-size: 20px;
  float: left;
  width: 40%;
  text-align: center;
  padding: 5%;
}